.dropdown-container{
    
    
    
    // overflow: hidden;
    
    h3{
        border-radius: 10px;
        background-color: #FF6060;
        color: #FFF;
        font-weight: normal;
        font-size: 18px;
        padding: 10px;
        vertical-align: baseline;
    }

    .offset{
        background-color: #F6F6F6;
        border-radius: 10px;
        
        border: 1px solid black;
        margin-top: -10px;
        
   

        &__close{
        display: none;
        }
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@keyframes paddingIn {
    from { padding: 0px 0; }
    to { padding: 50px 0;}
}