.dropdown-container{
    background-color: red;
    border-radius: 20px;
    
    h3{
        z-index: 1;
    }

    .offset{

        &__open{
            display: block;
            max-height: fit-content;
            // display: block;
        }

        &__close{
        max-height: 100%;
        display: none;
        }
        transition: all 5s ease-in-out;
        overflow: hidden;

    }
}