.dropdown-container{
    position: relative;
    overflow: hidden;

    &:active{
       height: 150px;
        .offset{
            top: 0;
        }
    }

    .offset{
        padding-top: 30px;
        position: absolute;
        top: -150px;
    }
}