@import "../../style/general/colors.scss";

.k-fiche-logement {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__logement-infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .logement-infos__title {
      font-size: 18px;
      line-height: 1.4;
      color: $primary;
      font-weight: normal;
    }

    .logement-infos__location {
      font-size: 14px;

      color: $primary;
    }

    .tag-list {
      margin-top: 10px;
      display: flex;
      row-gap: 20px;
      column-gap: 10px;
      flex-wrap: wrap;
      list-style: none;
    }
  }

  &__profile-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .rate {
      display: flex;
      list-style: none;

      .star {
        font-size: 18px;
      }

      .star__empty {
        color: $grey;
      }

      .star__full {
        color: $primary;
      }
    }
  }
  .collapses {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .k-fiche-logement {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    &__logement-infos {
      display: flex;

      gap: 5px;
      .logement-infos__title {
        font-size: 36px;
      }

      .logement-infos__location {
        font-size: 18px;
      }

      .tag-list {
        margin-top: 20px;
        margin-bottom: 10px;
        display: flex;
        row-gap: 20px;
        column-gap: 10px;
        flex-wrap: wrap;
        list-style: none;
      }
    }

    &__profile-infos {
      flex-direction: column-reverse;
      align-items: flex-end;
      .rate {
        display: flex;
        list-style: none;
        font-size: 36px;

        .star {
          font-size: 30px;
        }
        .star__empty {
          color: $grey;
        }

        .star__full {
          color: $primary;
        }
      }
    }

    .collapses {
      flex-direction: row;
      gap: 80px;
      height: 225px;
      .collapse-container {
        width: 50%;
      }
    }
  }
}
