.k-main-nav{
    ul{
        display: flex;
        column-gap: 15px;

        li{
            list-style: none;
            
            a{
                color: #FF6060;
                text-decoration: none;
                font-size: 14px;
                

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (min-width: 961px) {
    .k-main-nav{
        ul{
            column-gap: 30px;
            li{
                a{
                    font-size: 16px;
                }
            }
        }
    }
}