.k-footer {
  margin-top: 50px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 170px;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

    .logo {
      margin-top: -15px;
      width: 122px;
      fill: #fff;
    }

    p {
      color: #fff;
      font-size: 12px;
    }
  }
}

@media (min-width: 961px) {
  .k-footer {
    &__content {
      p {
        font-size: 24px;
      }
    }
  }
}
